@import "@styles/variables.scss";

.solution {
  display: flex;
  flex-direction: column;
  padding: 0 0 2rem;
  z-index: 1;
  background-color: white;
}

.solution__card {
  display: flex;
  gap: 2rem;
  padding: 1rem 10rem;
  align-items: center;
  justify-content: center;
  img {
    clip-path: polygon(33.33% 0%, 66.66% 0%, 100% 33.33%, 100% 66.66%, 66.66% 100%, 33.33% 100%, 0 66.66%, 0 33.33%);
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
  }
}

.solution__card_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

@mixin column_info_card {
  font-size: 1.4rem;
  h3 {
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

.column_info_card_r {
  @include column_info_card();
  p {
    padding-right: 20rem;
  }
}
.column_info_card_l {
  @include column_info_card();
  p {
    padding-left: 20rem;
  }
}

.titleSections {
  position: relative;
  background-color: white;
  h2 {
    margin-top: -6rem;
    font-size: 11rem;
    letter-spacing: 6rem;
    color: black;
    text-shadow: 1.5rem 1rem 0.4rem rgba(61, 55, 55, 0.4),
                  1px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
                  1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  }
}

.solution__cards {
  display: flex;
}

.solution__card__title {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -1px;
}
.solution__card__description {
  width: 100%;
}
