.checkbox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}

.button_without_style {
  background: none !important;
  &:hover {
    background: none !important;
  }
}