$black: black;
$dark-grey: #333333;
$white: white;
$blue: #2b59ff;
$blue-light: #62A4FF;
$blue-lighter: #cde2ff;
$red-light: #ff2b3d;
$green-light: #62ffcb;

$spacing-xxsm: .8rem;
$spacing-xsm: 1.2rem;
$spacing-sm: 1.6rem;
$spacing-md: 2.4rem;
$spacing-lg: 4rem;
$spacing-xl: 6rem;
$spacing-xxl: 12rem;

$text-xsm: 1rem;
$text-sm: 1.2rem;
$text-md: 1.6rem;
$text-lg: 2rem;
$text-xl: 2.4rem;
$text-xxl: 4rem;