$black: #000000;
$white: #f3f3f3;
$grey: #eff1ff;
$blue: #37368f;

.panelContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 96vw;
}

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  align-content: center;
  width: 96vw;
  padding: 1vw;
}

.middleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4vw;
  align-content: center;
  width: 80vw;
  height: 20rem;
  padding: 1vw;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 96vw;
  padding: 1vw;
}

.breadCrumbs {
  float: left;
}

.mainContainer {
  padding: 10px 20px 10px 20px;
}

.cycleSectionCard {
  flex: 1;
  height: 100%;
  padding: 10px 30px 10px 30px;
 
}

.challengeCard {
  font-size: 15px;

}

.scrollPanel .p-scrollpanel-wrapper {
  border-right: 9px solid $white;
}

.scrollPanel .p-scrollpanel-bar {
  background-color: #1976d2;
  opacity: 1;
  transition: background-color 0.3s;
}

.scrollPanel .p-scrollpanel-bar:hover {
  background-color: #135ba1;
}

.accordionHeader {
  & > [class~='p-accordion-tab'] {
    & > [class~='p-accordion-header'] {
      & > [class~='p-accordion-header-link'] {
        background-color: $blue;
        color: $white;
        &:hover {
          background-color: $blue !important;
          color: $white !important;
        }
      }
    }

    & > [class~='p-toggleable-content'] {
      & > [class~='p-accordion-content'] {
        background-color: $grey;
      }
    }
  }

  & > [class~='p-accordion-tab-active'] {
    & > [class~='p-highlight'] {
      & > [class~='p-accordion-header-link'] {
        background-color: $blue !important;
        color: $white !important;
      }
    }
  }
}

.learningUnitsCard {
  flex: 1;
  background-color: $grey;
  color: $black;
}

.checkButtonContainer {
  margin-top: 50px;
  margin-right: 40px;
}

.checkButton {
  font-size: 18px;
}

.challengeField {
  margin-top: 30px;
}


