.cycleStepsContainer {
  font-size: 20px;
  margin: 50px 0px 100px 0px;
}

.cycleSteps {
  font-size: 18px;
  border-left-width: 0px;

  &>ul {
    &>[class~='p-steps-item'] {
      &>[class~='p-menuitem-link'] {
        &:not(.p-disabled) {
          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }
}

.textTitle {
  font-size: 30px;
  text-align: center;
  color: #6366f1
}

.textList {
  font-size: 16px;
}

.goalsContainer {
  margin: 20px 0px 50px 20px;
  height: 22vh;
}


.buttonContainer {
  width: 96%;
  justify-content: space-between;
  display: flex;
  margin-left: 20px;
}