.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  
}

.paragrapText {
  text-align: center;
  font-size: 16px;
  margin: 15px 20px 15px 20px;

}

.image {
  width: 100%;
  align-self: flex-end;
}
